<div class="container w-25% mt-5">
  <div class="row">

     <div class="d-flex align-items-center justify-content-around flex-wrap mb-5">

      <% @posts.each do |post| %>
       <div class="my-5 mx-1 text-right" style: 'width: 23%'>
         <%= link_to post_path(post), class: 'text-decoration-none' do %>
          <%= image_tag post.user.get_profile_image, size:'40x40', class:"profile_image" %>
          <p class="mt-2 text-center">
           <span style="color: #816F5B;"><%= post.user.name %></span><br />
           <span style="color: #816F5B;"><%= post.title %></span><br />
            <span style="color: #2b2b2b;"><%= post.genre.name %></span>
           </p>
         <% end %>
         <!--<p class="text-center"></p>-->
       </div>
      <% end %>
     </div>
    </div>
  </div>
</div>