<div class="text-center mt-5 mb-5">
  <h2 class="form-title mb-5">投稿一覧</h2>
  <div class="flame container mt-5 mb-5">
    <%= search_form_for @q do |f| %>
      <div class="row form-group justify-content-center">
        <div class="form-width col-10 col-md-8 col-xl-6">
          <%= f.search_field :title_or_body_cont, placeholder: "キーワードで検索", class: 'form-control' %>
        </div>
        <div class="form-width col-10 col-md-8 col-xl-6 text-center">
          <%= f.label :genre_id, "ジャンル" %>
          <%= f.collection_select :genre_id_eq, @genres, :id, :name, include_blank: '指定なし' %>
          <%= f.submit "検索", class: "btn btn-success ml-3 mb-1" %>
        </div>
      </div>
    <% end %>
    <div class="search_form">
      <%= sort_link(@q, :created_at, "新しい順/古い順", default_order: :desc ) %> |
      <%= sort_link(@q, :favorites_count, "いいね順", default_order: :desc ) %>
    </div>
    <%= render 'public/users/post_index', posts: @posts, params_name: "page" %>
  </div>
</div>