<div class='container'>
  <div class='flame row mt-3 test'>
		<h2 class="heading text-center">投稿詳細</h2>
		<%= render 'layouts/notice' %>
		<%= yield %>
		<table class='table col-2'>
		  <tr>
        <td>
          <%= link_to(@post.user) do %>
            <%= image_tag @post.user.get_profile_image, size:"60x60", class:"profile_image" %>
            <div class="post-show-name"><%= @post.user.name %></div>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= @post.title %></td>
      </tr>
      <tr>
        <td><%= @post.body %></td>
      </tr>
      <tr>
        <td>病気の種類：<%= @post.genre.name %></td>
      </tr>

      <tr>
        <td class="d-flex">
          <div>いいね数：</div>
          <div class="favorite_buttons_<%= @post.id %>">
            <% if user_signed_in? %>
              <%= render "public/favorites/btn", post: @post %>
            <% else %>
              <i class="fas fa-heart" aria-hidden="true"></i>
              <%= @post.favorites.count %>
            <% end %>
          </div>
        </td>
      </tr>

      <tr>
        <td class="d-flex">
          <div>コメント数：</div>
          <div class="post-comments-counter">
            <%= render "public/post_comments/comment_counter", post: @post %>
          </div>
        </td>
      </tr>



      <% if @post.user == current_user %>
        <td>
          <%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-success edit_post_#{@post.id} mr-5" %>
          <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}" %>
        </td>
      <% end %>
    </table>

  <div class="flame row mt-5 mb-3">
    <h4 class="sub_heading mt-1">コメント</h4>
    <div class="post-comments-index justify-content-center">
      <%= render "public/post_comments/index", post: @post, post_comments: @post_comments %>
    </div>
    <%#= paginate @post_comments, :param_name => "post_comment_page" %>

    <span id="flash"></span> <!-- Flash message for jQuery -->
    <div class="comments_error">
      <%= render 'layouts/error_message', model: @post_comment %>
    </div>
    <div class="col-12">
      <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
    </div>
  </div>

</div>