<div class="text-center mt-5 mb-5">
  <h2 class="form-title mb-5">投稿詳細</h2>

  <div class="post-card bg-light">
  <div class="card-header">
    <%= @post.title %>
    #<%= @post.genre.name %>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @post.body %></p>
        <div class="favorite_buttons_<%= @post.id %>">
            <i class="fas fa-heart" aria-hidden="true"></i>
              <%= @post.favorites.count %>
            <i class="far fa-comment-dots ml-2"></i>
              <%= render "public/post_comments/counter", post: @post %>
        </div>
      <footer class="blockquote-footer"><%= @post.created_at.strftime('%Y/%m/%d') %></footer>
        <td>
          <%= link_to '編集', edit_admin_post_path(@post), class: "btn btn-sm btn-success edit_post_#{@post.id} mr-5" %>
          <%= link_to '削除', admin_post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}" %>
        </td>
    </blockquote>
  </div>
  </div>

  <div class="text-center mt-5 mb-5">
   <h2 class="form-title mb-2">コメント</h2>
    <div class="row post-comments justify-content-center">
      <div class="comments">
        <div class="d-flex justify-content-center">
          <div>コメント全</div>
         <div class="post-comments-counter">
          <%= render "public/post_comments/counter", post: @post %>
         </div>
          <div>件</div>
        </div>

       <div class="post-comments-index">
        <%= render "public/post_comments/index", post: @post, post_comments: @post_comments %>
       </div>
      </div>
    <%#= paginate @post_comments, :param_name => "post_comment_page" %>
  </div>

</div>