<div class="text-center mt-5 mb-5">
  <div class="form-wrapper mb-5">
    <h2 class="form-title mb-5">新規登録</h2>

     <%= form_with model: @user, url: users_sign_up_path, class: 'text-left mb-5' do |f| %>
     <%= render "public/shared/error_messages", resource: resource %>

    <div class="form-group row">
     <label for="customer_name" class="col-sm-3 col-form-label">名前</label>
     <div class="col-sm-8">
      <%= f.text_field :name, class:"col-4" %>
     </div>
    </div>

  <div class="form-group row">
    <label for="customer_name" class="col-sm-3 col-form-label">年齢</label>
    <div class="col-sm-8">
      <%= f.select :age, User.ages.keys.map {|k| [I18n.t("enums.user.age.#{k}"), k]}, class:"col-2" %>
    </div>
  </div>

  <div class="form-group row">
    <label for="customer_email" class="col-sm-3 col-form-label">メールアドレス</label>
    <div class="col-sm-9">
      <%= f.email_field :email, class:"col-4" %>
    </div>
  </div>

  <div class="form-group row">
    <label for="user_introduction" class="col-sm-3 col-form-label">自己紹介</label>
    <div class="col-sm-9">
      <%= f.text_field :introduction, class:"col-8" %>
    </div>
  </div>

  <div class="form-group row">
    <label for="customer_email" class="col-sm-3 col-form-label">
      パスワード
      <% if @minimum_password_length %>
      <br>
        (<%= @minimum_password_length %> 文字以上)
      <% end %>
    </label>
    <div class="col-sm-9">
      <%= f.password_field :password, class:"col-4" %>
    </div>
  </div>

  <div class="form-group row">
    <label for="customer_email" class="col-sm-3 col-form-label">パスワード(確認用)</label>
    <div class="col-sm-9">
      <%= f.password_field :password_confirmation, class:"col-4" %>
    </div>
  </div>

  <div class="actions col-mt-3">
    <%= f.submit "新規登録", class: "btn btn-success btn-block" %>
  </div>
    <% end %>
  </div>
 </br>
 </br>

 <div class="row justify-content-center">
    <div class="col-md-auto mb-3 bg-light">
      <h5>既に登録済みの方</h5>
      <%= render "public/shared/links" %>
      <%= link_to 'ゲストログインする（閲覧用）', users_guest_sign_in_path, method: :post %>
    </div>
　</div>

</div>