<div class="container-xxl mt-5 mx-5">

 <h2 class="ml-4"><%= @user.name %></h2>さんの登録情報

 <div class="user-img-area pt-3 pb-3">
      <%= image_tag @user.get_profile_image, size:'157x157', class:"profile_image d-block mx-auto" %>
 </div>

  <div class="customer-information mt-5">
    <div class="row" style="margin-left: 0; margin-right: 0;">
      <h4 class="d-flex align-items-center justify-content-center" style="margin-bottom: 0;"><strong>登録情報</strong></h4>
      <% if user_signed_in? %>
        <% if current_user == @user %>
          <td><%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-primary" %></td>
        <% end %>
      <% end %>
    </div>

    <table class="col-7 table table-bordered mt-3 mb-5">
      <tr>
        <td class="col-3 table-active border border-dark">名前</td>
        <td class="border border-dark"><%= @user.name %></td>
      </tr>
      <tr>
        <td class="col-3 table-active border border-dark">年齢</td>
        <td class="border border-dark"><%= @user.age_i18n %></td>
      </tr>
      <tr>
        <td class="col-3 table-active border border-dark">自己紹介</td>
        <td class="border border-dark"><%= @user.introduction %></td>
      </tr>
    </table>
  </div>

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <%= render "post_index", posts: @posts, params_name: "posts_page" %>
        </div>
      </div>
</div>