<div class="container-xxl mt-5 mx-5">
<h2 class="text-center"><%= @user.name %>さん</h2>

 <div class="row justify-content-center">
   <div class="form-wrapper mb-5">
     <div class="col-3">
      <%= image_tag @user.get_profile_image, size:'200x200', class:"profile_image d-block mx-auto" %>
     </div>
    <div class="float-right">
      <div class="col-12">
        <h5 class="row-title">ユーザー情報</h5>
        <p class="row-text">名前：<%= @user.name %></p>
        <p class="row-text">年齢：<%= @user.age_i18n %></p>
        <p class="row-text">自己紹介：<%= @user.introduction %></p>
        <p class="row-text">登録日：<%= @user.created_at.strftime('%Y/%m/%d') %></p>
      </div>
    </div>
   </div>
 </div>


  <div class="row">
        <% if user_signed_in? %>
          <% if current_user == @user %>
            <td><%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-success" %></td>
          <% end %>
        <% end %>
  </div>


  <div class="text-center mt-5 mb-5">
  　<h2 class="form-title mb-5">過去の投稿</h2>
      <%= render "post_index", posts: @posts, params_name: "posts_page" %>
  </div>

</div>