<div class="container-xxl mt-5 mx-5">

 <h2 class="justify-content-center"><%= @user.name %></h2>さんの登録情報

 <div class="row">
   <div class="user-img-area col-sm-6">
        <%= image_tag @user.get_profile_image, size:'200x200', class:"profile_image d-block mx-auto" %>
   </div>

    <div class="customer-information col-sm-6">
      <%= render 'layouts/notice' %>

      <table class="table table-bordered mt-3 mb-5">
        <tr>
          <td class="col-3 table-active border border-dark">名前</td>
          <td class="border border-dark"><%= @user.name %></td>
        </tr>
        <tr>
          <td class="col-3 table-active border border-dark">年齢</td>
          <td class="border border-dark"><%= @user.age_i18n %></td>
        </tr>
        <tr>
          <td class="col-3 table-active border border-dark">自己紹介</td>
          <td class="border border-dark"><%= @user.introduction %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
        <% if user_signed_in? %>
          <% if current_user == @user %>
            <td><%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-success" %></td>
          <% end %>
        <% end %>
  </div>


  <div class="text-center mt-5 mb-5">
  　<h2 class="form-title mb-5">過去の投稿</h2>
      <%= render "post_index", posts: @posts, params_name: "posts_page" %>
  </div>

</div>