<nav class="navbar navbar-expand-xl navbar-dark bg-info shadow-sm">
    <div class="container">
      <% if admin_signed_in? %>
        <a class="navbar-brand">
          <%= image_tag 'icon.jpeg', size: "200x200" %>
        </a>
      <% else %>
        <a class="navbar-brand" href="/">
          <%= image_tag 'icon.jpeg', size: "200x200" %>
        </a>
      <% end %>
<head>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to admin_posts_path, class: "nav-link text-light btn btn-success mr-5 mb-3" do %>
                <i class="fas fa-clipboard"></i> 投稿一覧
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to admin_users_path, class: "nav-link text-light btn btn-success mr-5 mb-3" do %>
                <i class="fas fa-users"></i> ユーザー一覧
                <% end %>
              </li>

             <li class="nav-item">
                <%= link_to admin_genres_path, class: "nav-link text-light btn btn-success mr-5 mb-3" do %>
                <i class="fas fa-genderless"></i> ジャンル一覧
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-light btn btn-success mr-5 mb-3" do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
                <% end %>
              </li>

            <% elsif user_signed_in? %>
              <li class="mr-3">
                <%= link_to "投稿一覧", posts_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="mr-3">
                <%= link_to "新規投稿", new_post_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="mr-3">
                <%= link_to "ユーザー一覧", users_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="mr-3">
                <%= link_to "マイページ", user_path(current_user), class: "btn btn-outline-dark" %>
              </li>
              <li class="mr-3">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-dark" %>
              </li>

            <% else %>
              <li class="mr-3">
                <%= link_to "投稿一覧", posts_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="mr-3">
                <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="mr-3">
                <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-dark" %>
              </li>
            <% end %>
        </div>
  </head>
  </nav>
 </header>